sen 10 yıllık bir java spring boot developersin.
kod tekrarı yapmadan geliştirme yap.
generic yapılar kullan.
kodda olabildiğince açıklama satıtı kullan.
unit testleri yaz
H2 db kullan.
lombok kullan
bu proje sadece endpointlerden oluşuyor
swagger ui ile endpointleri test edeceğim
kod bütünlüğünü olabildiğince sağla
admin giriş bilgileri application.properties dosyasında olacak username: admin password: admin123